<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2016. Bel Jones Echavez
  -->

<manifest
    package="io.github.fruitspunchs.productivityup"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name="io.github.fruitspunchs.productivityup.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="io.github.fruitspunchs.productivityup.ui.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>
        <activity
            android:name="io.github.fruitspunchs.productivityup.ui.deadlines.DeadlinesActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_deadlines"
            android:parentActivityName="io.github.fruitspunchs.productivityup.ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.github.fruitspunchs.productivityup.ui.MainActivity"/>
        </activity>
        <activity
            android:name="io.github.fruitspunchs.productivityup.ui.agenda.AgendaActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_agenda"
            android:parentActivityName="io.github.fruitspunchs.productivityup.ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.github.fruitspunchs.productivityup.ui.MainActivity"/>
        </activity>
        <activity
            android:name="io.github.fruitspunchs.productivityup.ui.accountability.AccountabilityActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_accountability_chart"
            android:parentActivityName="io.github.fruitspunchs.productivityup.ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.github.fruitspunchs.productivityup.ui.MainActivity"/>
        </activity>
        <activity
            android:name="io.github.fruitspunchs.productivityup.ui.deadlines.AddDeadlineActivity"
            android:label="@string/title_activity_add_deadline"
            android:parentActivityName="io.github.fruitspunchs.productivityup.ui.deadlines.DeadlinesActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.github.fruitspunchs.productivityup.ui.deadlines.DeadlinesActivity"/>
        </activity>
        <activity
            android:name="io.github.fruitspunchs.productivityup.ui.deadlines.EditDeadlineActivity"
            android:label="@string/title_activity_add_deadline"
            android:parentActivityName="io.github.fruitspunchs.productivityup.ui.deadlines.DeadlinesActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.github.fruitspunchs.productivityup.ui.deadlines.DeadlinesActivity"/>
        </activity>
        <activity
            android:name="io.github.fruitspunchs.productivityup.ui.agenda.AddAgendaActivity"
            android:label="@string/title_activity_add_agenda"
            android:parentActivityName="io.github.fruitspunchs.productivityup.ui.agenda.AgendaActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.github.fruitspunchs.productivityup.ui.agenda.AgendaActivity"/>
        </activity>
        <activity
            android:name="io.github.fruitspunchs.productivityup.ui.agenda.EditAgendaActivity"
            android:label="@string/title_activity_edit_agenda"
            android:parentActivityName="io.github.fruitspunchs.productivityup.ui.agenda.AddAgendaActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.github.fruitspunchs.productivityup.ui.agenda.AddAgendaActivity"/>
        </activity>
        <activity
            android:name="io.github.fruitspunchs.productivityup.ui.accountability.AddAccountabilityActivity"
            android:label="@string/title_activity_add_accountability"
            android:parentActivityName="io.github.fruitspunchs.productivityup.ui.accountability.AccountabilityActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.github.fruitspunchs.productivityup.ui.accountability.AccountabilityActivity"/>
        </activity>
        <activity
            android:name="io.github.fruitspunchs.productivityup.ui.accountability.EditAccountabilityActivity"
            android:label="@string/title_activity_edit_accountability"
            android:parentActivityName="io.github.fruitspunchs.productivityup.ui.accountability.AccountabilityActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.github.fruitspunchs.productivityup.ui.accountability.AccountabilityActivity"/>
        </activity>

        <!-- Widget-->
        <receiver
            android:name="io.github.fruitspunchs.productivityup.widget.TimerAppWidgetProvider"
            android:enabled="true"
            android:label="ProductivityUp">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/timer_appwidget_info"/>
        </receiver>

        <!-- Service-->
        <service
            android:name="io.github.fruitspunchs.productivityup.service.TimerService"
            android:exported="false"/>

        <!-- Provider-->
        <provider
            android:name="io.github.fruitspunchs.productivityup.data.generated.ProductivityProvider"
            android:authorities="io.github.fruitspunchs.productivityup.data.ProductivityProvider"
            android:exported="false"/>
    </application>
</manifest>
